


$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$icon-font-path: "/assets/fonts/bootstrap/" !default;


@import '../../vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap';

$brand-primary: #6f5499;

html, body {
    font-family: 'Open Sans', sans-serif;
    height:100%;
}

h2 {
  -webkit-margin-before:0;
}

body {
  /* font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  
  line-height: 1.4em;
  background: #eaeaea url('/assets/images/bg.png');
  color: #4d4d4d;
  /* width: 550px; */
  /* margin: 0 auto; */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.main-header {
  background: $brand-primary;
  
  .logo {
    font-size: 36px;
    letter-spacing: -0.07em;
  }
  a {
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      color: #ddd;
    }
  }

  li > a:hover {
    background-color: darken($brand-primary, 10);
  }

}
body > .ember-view {
    height: 100%;
}
.main-container {
  position: relative;
  padding-bottom: 60px;
  min-height: 100%;
}

.create-btn {
  font-size: 200px;
  text-align: center;
  background: #888;
  color: #222;
  cursor: pointer;
  border:none;
  width: 100%;
  height: 315px;

  &:hover {
    text-decoration: none;
    background: $brand-success;
    color: #eee;
  }
}

.lesson-color {
  height: 200px;
  width: 100%;
}

.thumbnail {
  padding: 0;
}


.footer {
  position: absolute;
display: inline-table;
  vertical-align: center;
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  text-align: center;
  font-size: 16px;
  color: $brand-primary;
  line-height: 1em;
}


.drag-select {
    margin:0 auto;
    text-align:center;
    ul {
    width:100%;
}
li {
    list-style:none;
    display:inline-block;
    width:240px;
    height:260px;
    /*background:#46f;*/
    margin-left:100px;
}
li:first-child {
    margin-left:0;
}
}

.item-image {
  width: 100px;
}

.small-image {
  height: 60px;
}




