
<a {{action "addScean"}} class="btn btn-default">Add Scean <i class=" glyphicon glyphicon-plus "></i></a>
<div class="list-group">
{{#each scean in sceans }}
  <div class="list-group-item">
  	
  	      {{scean.name}}
  	      <button {{action "removeScean" scean }} type="button" title="Delete Scean" class="close" aria-hidden="true">&times;</button>
  </div>
  {{else}}
  nothing
  {{/each}}
</div>