
<div class="main-container"><header class="navbar navbar-static-top bs-docs-nav main-header" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      	<a href="../" class="navbar-brand logo">site</a>
      
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Lessons</a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#" id="">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
  <main class="container-fluid">
  {{outlet}}  
  </main>
  
  
  <footer class="footer" >
    <p>copyright © abkar 2014</p>
  </footer>
  </div>