<h2>{{#if isEditing}}
            {{edit-label class="edit" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
          {{else}}
            <span {{action "editTitle" on="doubleClick"}}>{{title}}</span>
          {{/if}}
</h2>

<div class="sceans">
    {{outlet}}
</div>